#wrap { width : 960px;
		margin: 0  auto;
		padding: 0 ; 
		background-color: #888; 
		overflow: auto;
		  }

div#top {width : 960px;
 	  position:fixed;
 	  left:0px;
		top:0px;
	  background-color: #123; 
	  overflow: auto;

	 }



#top-left { float : left;
	width :300px;
	height: 30px;
	margin: 10px 0 0 30px;
	background-color: #152;
	overflow: auto;
 }

#top-right {
	width :300px;
	margin: 0 0 0 660px;
	background-color:#331;
	overflow: auto;
}
#contents-top{
	margin: 10px 0 auto;
	text-align: center;
	overflow: auto;

}
#contents-top-left {
	width : 400px;
	background-color:#551;
	float : left;
	overflow: auto;
	
}

#contents-top-right{
	width: 560px;
	background-color:#258;
	margin: 0 auto;
	overflow: auto;
}

#contents-top-down{
	width : 960px;
	background-color:#712;
	
	padding: 30px 0 0 0;
	text-align: right;
	overflow: auto;
}

#contents-body{
	width: 960px;
	height : 500px;
	margin: 0 auto;

	background-color: #a17;
}
#contents-body > ul  li {
	list-style: none;
}


#footer {background-color:#abc; color:#888; text-align:center; padding: 20px;}
#footer a{color:#888;}